
body {
  margin: 0;
  padding: 0;
}

p, ul, li, h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #555;
}

h3 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

ul {
  list-style-type: none;  /* globally removes unordered list bullet */
}

#mast { margin: 10px 0 0 0;}

#nav { margin: 0px; padding: 0px;}

#nav ul {
  float: right;
}

#nav ul li {
  float: left;
  padding: 10px 15px 10px 32px;
  background: #333;
}

#nav ul li a {
  color: #888;
  text-decoration: none;
  padding: 15px;
  font-size: 1.2em;
}

#nav ul li.active {
  color: #aaa;
  background: #fff;
  border-color: #333;
  border-style: solid;
  border-left-width: 7px;
}

#nav ul li:hover {
  background: #fff;
}

#header h2 em {
  color: #ccc;
}

#contentwrapper { background: #fff;}

#content, #sidebar {
  margin: 40px 0 20px 0;
}

#content em { font-size: 1.2em; }

#content h4 {
  font-weight: bold;
  font-size: 1.4em;
}

#content h5 {
  font-style: italic;
}

#content p {
  font-size: 1.2em;
  padding: 0 0 10px;
}


#content li p {
  margin: 0 0 70px 0;
}

#sidebar {
  margin: 15px 0 0 15px;
}

#sidebar p {
  margin: 0 0 10px 0;
}

#content ul.bulleted li{
  list-style-type: disc;
  margin: 20px 20px 20px 20px;
  padding: 0 5px 10;
  font-size: 1.2em;
}

#content ul.testimonial li {
  background: #fff;
  border: solid 1px #aaa;
  padding: 10px;
  margin: 15px 0 15px 0;
}

#content ul.testimonial p {
  margin: 0 0 12px;
}

#sidebar ul li {
  margin: 20px 20px 20px 20px;
  padding: 0 0 5px 0;
  
  list-style-type: disc;
  font-size: 1.2em;
}

#footer {
  border-top: 5px solid #bbb;
  background: #bbb;
}

#footer p {
  margin: 0 auto;
  padding: 10px;
  width: 930px;
  text-align: center;
}

#footer p.small {
  font-size: 0.7em;
  text-align: right;
}

#footer a:link {color: #000000; text-decoration: none; }

a.glowing {
  color: #0af;
}
